smartscheduler/src/main/java/com/gzsolartech/bpmportal/util/email/sendmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="test">
        <s:complexType />
      </s:element>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="testResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailForEIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMailFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMailTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMailSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCredentialAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCredentialPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMailCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMailBcc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailForEIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMailForEIPResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strErrorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailForEIPSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailForEIP" />
  </wsdl:message>
  <wsdl:message name="SendMailForEIPSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailForEIPResponse" />
  </wsdl:message>
  <wsdl:portType name="SendMailSoap">
    <wsdl:operation name="test">
      <wsdl:input message="tns:testSoapIn" />
      <wsdl:output message="tns:testSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailForEIP">
      <wsdl:input message="tns:SendMailForEIPSoapIn" />
      <wsdl:output message="tns:SendMailForEIPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendMailSoap" type="tns:SendMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap:operation soapAction="http://tempuri.org/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForEIP">
      <soap:operation soapAction="http://tempuri.org/SendMailForEIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMailSoap12" type="tns:SendMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://tempuri.org/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForEIP">
      <soap12:operation soapAction="http://tempuri.org/SendMailForEIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendMail">
    <wsdl:port name="SendMailSoap" binding="tns:SendMailSoap">
      <soap:address location="http://10.128.97.145:8890/sendmail.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMailSoap12" binding="tns:SendMailSoap12">
      <soap12:address location="http://10.128.97.145:8890/sendmail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>